.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
*{
  box-sizing: border-box;
}
.boxes{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.box{
  width: 49.5%;
  border: 1px solid green;
  padding: 10px;
}

h2{
  margin: 1px 0 20px 0;
}
